node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
discord.json
firebase.json
oauth_info.json
package-lock.json
settings.json
translate.json
twitter.json
config/r-pokemonunite/*
config/r-splatoon/*